{% extends "base.html" %}
{% block title %}blog titles{% endblock %}
{% block content %}
<div class="row1 text-center vertical-middle-sm">
    <h1>我的博客</h1>
</div>
<div class＝"row">
	<div class="col-xs-12 col-md-8">
	<ul>
	{% for blog in blogs %}
        <li><a href="{{ blog.id }}">{{ blog.title }}</a></li>
	{% endfor %}
	</ul>
	</div>
	<div align="right">
	<h2>广告</h2>
	<p>跟老齐学： www.itdi忏肝.com</p>
	 <img width="200px" src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1183057007,4270556535&fm=26&gp=0.jpg">
    </div>
</div>
{% endblock %}